---
import CardProjects from "../components/card/CardProjects.astro"
---

<section class="bg-blue-50 dark:bg-gray-900 p-8" id="projects">
    <h1 class="font-bold text-6xl text-white w-full text-center">Projects</h1>
    <CardProjects />
</section>