---

---

<div class="w-full min-h-screen flex flex-col items-center justify-center bg-gradient-to-b from-gray-900 via-gray-800 to-cyan-900 px-4">
    <div class="max-w-2xl mx-auto text-center">
        <h1 class="text-4xl md:text-5xl font-extrabold text-gray-100 mb-2">
            Hola, soy
        </h1>
        <h2 class="text-4xl md:text-5xl font-extrabold text-cyan-400 mb-4">
            Alejandro Hurtado Alvarez
        </h2>
        <h3 class="text-xl md:text-2xl text-gray-100 mb-8">
            Desarrollador de Software y Entusiasta Tecnológico
        </h3>
        <p class="text-gray-200 text-lg mb-6">
            Soy un apasionado desarrollador de software con habilidad para crear soluciones elegantes a problemas complejos. Mi viaje en la tecnología comenzó con una simple curiosidad y ha crecido hasta convertirse en una pasión total por construir, aprender e innovar.
        </p>
        <p class="text-gray-200 text-lg">
            Disfruto trabajando tanto en el desarrollo frontend como backend, siempre esforzándome por escribir código limpio, eficiente y escalable. ¡Construyamos algo increíble juntos!
        </p>
        <a href="https://github.com/AlejoDec" target="_blank" class="mt-6 px-6 py-3 bg-cyan-500 text-white font-semibold rounded-lg hover:bg-cyan-600 transition duration-300">
            Mi GitHub
        </a>
    </div>
</div>